{% macro menu(title, anchorName) %}
{% if class == 'home' %}
<li><span class="scrollto" data-target="{{anchorName}}" title="">{{title | i18n(title)}}</span></li>
{% else %}
<li><a href="/#{{anchorName}}">{{title | i18n(title)}}</a></li>
{% endif %}
{% endmacro %}

<header class="site-head">
    <div class="center_page">
        <h1 id="logo"><a href="/" title="Health Factory">Health Factory</a></h1>
        <div class="menu_burger">
            <span></span>
        </div>
        <div class="nav-header-c">
            <nav class="nav-header">
                <ul>
                    {{ menu('innovate-or-die', 'concept') }}
                    {{ menu('expertise', 'innovation') }}
                    {{ menu('Process', 'metho') }}
                    {{ menu('L\'offre INSIDERS', 'offre') }}
                    {{ menu('L\'équipe', 'equipe') }}
                    {{ menu('Contact', 'contact') }}
                </ul>
            </nav>

            {% include '_modules/lang-menu.njk' %} 

        </div>
        <div class="clearfix"></div>
    </div>
</header>