{% macro logo(imageSrc, height=50) %}
<div class="logo_part col_3 animate-v">
    <div class="box_col">
        <div class="visuel">
            <img src="/images/{{imageSrc}}" style="height: {{height}}px;">
        </div>
    </div>
</div>
{% endmacro %}