<section id="metho" class="section">
    <div class="center_page">
        <div class="titre">
            <h2>Process</h2>
            <h3>{{ "L'INNOVATION EN 4 ÉTAPES" | i18n('4-steps-innovation') }}</h3>
        </div>
        <div class="content">

            <div class="metho_row_1">
                <div class="metho_row_1_col_1">
                    <h4 class="metho">{{ "Recherche d'un modèle <br>économique" | i18n('search-business-model') }}</h4>
                </div>
                <div class="metho_row_1_col_2">
                    <h4 class="metho">{{ "Exécution du nouveau <br>modèle économique" | i18n('execute-business-model') }}</h4>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>

            <div class="metho_row_2 animate-h-c">
                <div class="animate-h metho_puce metho_puce_1">
                    <div class="visuel visuel_picto visuel_search"></div>
                    <h5>{{ "Recherche" | i18n() }}</h5>
                </div>

                <div class="animate-h arrow"></div>

                <div class="animate-h metho_puce metho_puce_2">
                    <div class="visuel visuel_picto visuel_val"></div>
                    <h5>{{ "Validation" | i18n() }}</h5>
                </div>

                <div class="animate-h metho_under">
                    <h5>{{ "Répétition jusqu'à la preuve" | i18n('repeat-until-proven') }}</h5>
                </div>

                <div class="animate-h arrow"></div>

                <div class="animate-h metho_puce metho_puce_3">
                    <div class="visuel visuel_text">
                        <h5 style="font-size: 14px">{{ "Adéquation<br>produit / marché" | i18n('product-market-fit') }}</h5>
                    </div>
                </div>

                <div class="animate-h arrow"></div>

                <div class="animate-h metho_puce metho_puce_4">
                    <div class="visuel visuel_picto visuel_crea"></div>
                    <h5>{{ "Création" | i18n() }}</h5>
                </div>

                <div class="animate-h arrow"></div>

                <div class="animate-h metho_puce metho_puce_5">
                    <div class="visuel visuel_picto visuel_exe"></div>
                    <h5>{{ "Exécution" | i18n('execute') }}</h5>
                </div>

                <div class="clearfix"></div>

            </div>
            {% if class == 'home' and not production %}
            <div class="action" style="text-align: center; margin-top: 100px;">
                <a href="methodology.html" class="btn btn-black" title="">{{ 'En savoir plus' | i18n('know-more') }}</a>
            </div>
            {% endif %}
            <div class="clearfix"></div>
        </div>
    </div>
</section>
