{% set class = 'page' %} 
{% extends '_layouts/base.njk' %} 
{% block content %} 

<div id="main" class="page-layout" data-page="page">

    {% include '_modules/header-menu.njk' %}

    {% from '_modules/header-page.njk' import headerPage %}
    {{ headerPage('ANIMER L\'INNOVATION', 'paralaxe_2.jpg') }}

    {% from '_modules/page.njk' import page %}
    <section id="pages" class="section section_{{color | default('grey')}}">
        <div class="center_page">
            {{ page('PARTICIPER À L\'INNOVATION EN SANTÉ', 'REJOIGNEZ LES DÉFIS SANTÉ NUMÉRIQUES', 'animate-innovation') }}
            <div class="clearfix"></div>
        </div>
    </section>

    <section id="articles-grid" class="section">
        <div class="center_page">
            <div class="titre">
                <h2>{{ "CIBLER DES MARCHÉS" | i18n() }}</h2>
                <h3>{{ "4 THÉMATIQUES" | i18n() }}</h3>
            </div>
            <div class="content animate-v-c">
                {% from '_modules/article.njk' import articleGrid %}
                <div class="liste_articles_grid_1 animate-v-c">
                    {{ articleGrid('dis moi où tu as mal je te dirais qui tu es', 'thematique1', 'digital-health-challenges-topic-1.jpg') }}
                    {{ articleGrid('(r)assure-moi', 'thematique2', 'digital-health-challenges-topic-2.jpg') }}
                </div>
                <div class="liste_articles_grid_1 animate-v-c">
                    {{ articleGrid('toi aussi un jour tu seras vieux', 'thematique3', 'digital-health-challenges-topic-3.jpg') }}
                    {{ articleGrid('au delà du médicament', 'thematique4', 'digital-health-challenges-topic-4.jpg') }}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

    <section id="pages" class="section section_{{color | default('grey_low')}}">
        <div class="center_page">
            {{ page('VIVEZ UNE AVENTURE INOUBLIABLE', 'PARTICIPEZ AU<br>HACKING HEALTH CAMP', 'hacking-health-camp', 'hacking health camp', 'http://hackinghealth.camp') }}
            <div class="clearfix"></div>
        </div>
    </section>

</div>
{% endblock %}