{% set class = 'page' %} 
{% extends '_layouts/base.njk' %} 
{% block content %} 
<div id="main" class="page-layout" data-page="page">

    {% include '_modules/header-menu.njk' %}

    {% from '_modules/header-page.njk' import headerPage %}
    {{ headerPage('ILS NOUS FONT CONFIANCE', 'paralaxe_2.jpg') }}

{% from '_modules/logo.njk' import logo %}
<section id="partenaires" class="section">
    <div class="center_page">
        <div class="content content_logo_part animate-v-c">
            {{ logo('customers/ge-healthcare.jpg') }}
            {{ logo('customers/sanofi.jpg') }}
            {{ logo('customers/roche.png') }}
            <div class="clearfix"></div>
        </div>
        <div class="content content_logo_part animate-v-c">
            {{ logo('customers/ihealth.png') }}
            {{ logo('customers/allianz.jpg') }}
            {{ logo('customers/medtronic.jpg') }}
            <div class="clearfix"></div>
        </div>
        <div class="content content_logo_part animate-v-c">
            {{ logo('customers/servier.png') }}
            {{ logo('customers/humanis.png') }}
            {{ logo('customers/asip-sante.png') }}
            <div class="clearfix"></div>
        </div>
        <div class="content content_logo_part animate-v-c">
            {{ logo('customers/doctissimo.jpg', 40) }}
            <div class="clearfix"></div>
        </div>
    </div>
</section>    

</div>
{% endblock %}