{% set class = 'page' %} 
{% extends '_layouts/base.njk' %} 
{% block content %} 
<div id="main" class="page-layout" data-page="page">

    {% include '_modules/header-menu.njk' %}

    {% from '_modules/header-page.njk' import headerPage %}
    {{ headerPage('ILS NOUS FONT CONFIANCE', 'paralaxe_2.jpg') }}

    {% include '_modules/customers.njk' %}
</div>
{% endblock %}