{% set class = 'page' %} 
{% extends '_layouts/base.njk' %} 
{% block content %} 

<div id="main" class="page-layout" data-page="page">

    {% include '_modules/header-menu.njk' %}

    {% from '_modules/header-page.njk' import headerPage %}
    {{ headerPage('EXPERIMENTATION', 'paralaxe_2.jpg') }}

    {% from '_modules/page.njk' import page %}
    <section id="pages" class="section section_{{color | default('grey')}}">
        <div class="center_page">
            {{ page(null, null, 'experimentation-description') }}
            <div class="clearfix"></div>
        </div>
    </section>


    {% from '_modules/article.njk' import article %} 
    <section id="articles" class="section">
        <div class="center_page">
            <div class="liste_articles">
                {{ article(null, null, 'visuel.jpg', null, 'je veux démarrer une expérimentation', 'mailto:hello@healthfactory.io', 'center') }}
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

</div>
{% endblock %}