{% set class = 'home' %} 
{% extends '_layouts/base.njk' %} 
{% block content %} 

<div id="main" class="page-layout" data-page="Home">

    {% include '_modules/header-menu.njk' %} 

    <section class="section-slideshow slideshow screen-height">

        <div class="select-lang">
            <ul>
                <li class="active">fr</li>
            </ul>
        </div>

        <div class="logo_slider">
            <div class="logo_img"></div>
            <div class="logo_txt">go beyond ideas</div>
        </div>

        <div class="mh mhl mh1"><span class="scrollto shuffle" data-target="concept">A Propos</span></div>
        <div class="mh mhl mh2"><span class="scrollto shuffle" data-target="innovation">Innovation<br>& Expertise</span></div>
        <div class="mh mhl mh3"><span class="scrollto shuffle" data-target="metho">Méthodologie</span></div>
        <div class="mh mhr mh4"><span class="scrollto shuffle" data-target="offre">L'offre INSIDERS</span></div>
        <div class="mh mhr mh5"><span class="scrollto shuffle" data-target="equipe">L'équipe</span></div>
        <div class="mh mhr mh6"><span class="scrollto shuffle" data-target="contact">Contact</span></div>

        <div class="scroller">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>

        <div class="slideshow-inner">
            <div class="slides">
                <div class="slide is-active">
                    <div class="slide-content">
                        <div class="center-v-c">
                            <div class="center-v animate-txt">
                                <div class="title">L'INNOVATION EN SANTÉ</div>
                                <div class="text">
                                    <p>La santé est le domaine qui peut bénéficier le plus des nouvelles technologies pour le
                                        bien de l'humanité. Healh Factory est l'acteur qui vous offre l'opportunité d'en
                                        tirer parti au mieux.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-container screen-height"> <img src="/images/slider_1.jpg" data-src="/images/slider_2.jpg" alt="" width="1920" height="1080" class="image queue-loading as-background"
                            style="display: none;"></div>
                </div>
                <div class="slide">
                    <div class="slide-content">
                        <div class="center-v-c">
                            <div class="center-v animate-txt">
                                <div class="title">L'INNOVATION PAR L'ACTION</div>
                                <div class="text">
                                    <p>Un processus d'innovation complet pour identifier les technologies, les hommes et les
                                        nouveaux modèles économiques pour l'amélioration de la médecine et la prise en charge
                                        des patients. Une approche méthodologique agile pour faire émerger des solutions
                                        concrètes répondant à des problèmes précis remontés par les patients et professionnels
                                        de santé.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-container screen-height"> <img src="/images/slider_3.jpg" data-src="/images/slider_3.jpg" alt="" width="1920" height="1080" class="image queue-loading as-background"
                            style="display: none;"></div>
                </div>
                <div class="slide">
                    <div class="slide-content">
                        <div class="center-v-c">
                            <div class="center-v animate-txt">
                                <div class="title">ANIMER L'INNOVATION</div>
                                <div class="text">
                                    <p>Des évènements majeurs pour animer le processus d'innovation au quotidien sur l'année,
                                        créer les liens entre les acteurs de la santé et ceux du numériques, accompagner
                                        la réalisation de prototypes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-container screen-height"> <img src="/images/slider_2.jpg" data-src="/images/slider_1.jpg" alt="" width="1920" height="1080" class="image queue-loading as-background"
                            style="display: none;"></div>
                </div>

            </div>
            <div class="pages">
                <div class="page is-active"><span class="icon">1</span></div>
                <div class="page"><span class="icon">2</span></div>
                <div class="page"><span class="icon">3</span></div>
            </div>
        </div>
    </section>



    <section id="concept" class="section">
        <div class="center_page">

            <div class="liste_articles">
                <article class="article_right">
                    <div class="col_2 col_2_v">
                        <div class="visuel">
                            <img src="/images/expertise-innovation-health.jpg" class="image queue-loading">
                        </div>
                    </div>
                    <div class="col_2 col_2_t">
                        <div class="box_content animate-v-c">
                            <div class="titre animate-v">
                                <h2>A Propos</h2>
                                <h3>LEADER DE L'INNOVATION DANS LE SECTEUR DE LA SANTÉ</h3>
                            </div>
                            <div class="content animate-v">
                                <p>Les expertises HEALTH FACTORY sont dédiées aux professionnels de la santé : big pharma, industriels
                                    secteur santé, l'industrie des objets connectés, assureurs, hôpitaux, cliniques, établissements
                                    de soins, professionels de la santé, startups dans l'univers médical. Notre vocation
                                    est de vous aider à trouver de nouveaux modèles économiques et d'optimiser vos modèles
                                    existants.
                                </p>
                                <div class="action">
                                    <a href="services-innovation-health.html" class="btn" data-text="En savoir plus" title="">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </article>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>


    <section id="innovation" class="section">
        <div class="center_page">
            <div class="titre">
                <h2>Innovation & Expertise</h2>
                <h3>les 3 pilliers de l'innovation</h3>
            </div>
            <div class="content">
                <div class="col_3">
                    <div class="box_col box_innovation animate-v-c">
                        <div class="visuel visuel_svg visuel_brain animate-v"></div>
                        <h4 class="animate-v">Expérience<br>immersive</h4>
                        </h4>
                        <p class="animate-v">évènements et voyages apprenants pour acculturer acteurs de la santé au numérique et permettant aux acteurs
                            du numérique de comprendre les enjeux de la santé</p>
                        <div class="action">
                            <a href="experience-immersive.html" class="btn" data-text="En savoir plus" title="">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col_3 animate-v">
                    <div class="box_col box_innovation animate-v-c">
                        <div class="visuel visuel_svg visuel_hearth animate-v"></div>
                        <h4 class="animate-v">Expertise santé<br>& numérique</h4>
                        <p class="animate-v">offre de services pour réaliser et accompagner des projets innovants en santé avec les meilleurs experts
                            du domaine de la santé et du numérique sur le plan technique, légal, médical, entrepreneurial et
                            design</p>
                        <div class="action">
                            <a href="expertise-digital-health.html" class="btn" data-text="En savoir plus" title="">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col_3 animate-v">
                    <div class="box_col box_innovation animate-v-c">
                        <div class="visuel visuel_svg visuel_sector animate-v"></div>
                        <h4 class="animate-v">Expérimentation<br>sur le terrain</h4>
                        <p class="animate-v">plateforme physique (unité de soins, officine, cabinet, patients, …) et numérique (jeux de données, services,
                            API…) permettant de tester et valider des innovations en réel en partenariat avec les acteurs de
                            la santé</p>
                        <div class="action">
                            <a href="platform-experimentation.html" class="btn" data-text="En savoir plus" title="">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>

    {% include '_modules/schema-methodology.njk' %}

    <section id="offre" class="section">
        <div class="center_page">
            <div class="titre">
                <h2>Pour vous</h2>
                <h3>L'offre «INSIDERS»<br>est animé par des évènements</h3>
            </div>

            <div class="visuel_offre_mobile mobile">
                <img src="/images/timeline-hf.png">
            </div>
            <div class="content content_scroll desktop">

                <div class="content_offres">

                    <div class="line line_l_1 line_l" data-delta="0" data-delta-end="0" data-first="1" data-end="2.5">
                        <div class="label">
                            <span>Ateliers</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_l_2 line_l" data-delta="50" data-delta-end="0" data-first="1.5" data-end="3">
                        <div class="label">
                            <span>Conférences</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_l_3 line_l" data-delta="100" data-delta-end="50" data-first="2" data-end="3.5">
                        <div class="label">
                            <span>Immersion</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_l_4 line_l" data-delta="150" data-delta-end="0" data-first="2.5" data-end="3.5">
                        <div class="label">
                            <span>Hackathon</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_l_5 line_l" data-delta="200" data-delta-end="50" data-first="3.5" data-end="7">
                        <div class="label">
                            <span>Expérimentation</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_l_6 line_l" data-delta="250" data-delta-end="0" data-first="5.24" data-end="7">
                        <div class="label">
                            <span>Excubation</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_l_7 line_l" data-delta="300" data-delta-end="0" data-first="7" data-end="8">
                        <div class="label">
                            <span>Transformation</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_l_8 line_l" data-delta="0" data-delta-end="0" data-first="1.2" data-end="7.7" style="z-index: 0;">
                        <div class="label">
                            <span style="text-align: right;">HACKING<br>HEALTH<br>CAMP</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>

                    <div class="line line_r_1 line_r" data-delta="0" data-delta-end="0" data-first="1.2" data-end="4">
                        <div class="label">
                            <span>Mentoring</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_r_2 line_r" data-delta="50" data-delta-end="0" data-first="2.8" data-end="7.2">
                        <div class="label">
                            <span>Coaching</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_r_3 line_r" data-delta="100" data-delta-end="0" data-first="4" data-end="8">
                        <div class="label">
                            <span>Marketing</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_r_4 line_r" data-delta="0" data-delta-end="0" data-first="1.2" data-end="7.7" style="z-index: 0;">
                        <div class="label">
                            <span>DÉFIS SANTÉ<br>NUMÉRIQUE</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>

                    <div class="liste_offres">

                        <div id="box_1" class="box_offre_c">
                            <div class="box_offre">Enjeux</div>
                        </div>

                        <div id="box_2" class="box_offre_c">

                            <div class="box_offre">Opportunités</div>
                        </div>

                        <div id="box_3" class="box_offre_c">
                            <div class="box_offre">Idéations</div>
                        </div>

                        <div id="box_4" class="box_offre_c">
                            <div class="box_offre">Prototypage</div>
                        </div>

                        <div id="box_5" class="box_offre_c">
                            <div class="box_offre">Tests</div>
                        </div>

                        <div id="box_6" class="box_offre_c">
                            <div class="box_offre">Validation</div>
                        </div>

                        <div id="box_7" class="box_offre_c">
                            <div class="box_offre">Commercialisation</div>
                        </div>

                        <div id="box_8" class="box_offre_c">
                            <div class="box_offre box_offre_green">Exécution</div>
                        </div>
                    </div>
                </div>

                <div class="action" style="text-align: center; margin-top: 100px;">
                    <a href="animate-innovation-health.html" class="btn" data-text="En savoir plus" title="">En savoir plus</a>
                </div>
            </div>
    </section>

    {% include '_modules/customers.njk' %}

    <section id="paralax" class="section-paralax">
        <div class="center_page">
            <div class="section-paralax-c animate-v-c">
                <div class="paralax-background animate-v">
                    <div class="image-container"><img src="/images/paralaxe_2.jpg" data-src="/images/paralaxe_2.jpg" alt="" width="1920" height="800"
                            class="image queue-loading as-background" style="display: none;">
                    </div>
                </div>
                <div class="paralax-content animate-v">
                    <div class="center-v-c">
                        <div class="center-v">
                            <div class="titre">
                                <h2>nos expertises<br>nos ressources<br>dédiées à l'innovation</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include '_modules/team.njk' %}

    <section id="contact_map" class="section">
        <div id="map"></div>
    </section>

    <section id="contact" class="section">
        <div class="center_page">
            <div class="titre">
                <h2>Contact</h2>
                <h3></h3>
            </div>
            <div class="content">
                <div class="col_2">
                    <h4 class="contact">Où sommes-nous ?</h4>
                    <p class="contact">Strasbourg |<span class="contact"> PH8, 8 place de l'hopital, 67000 Strasbourg, France</span></p>
                    <p class="contact">Montréal |<span class="contact"> A-1514 AVE Docteur-Penfield, Montreal, Quebec, H3G 1B9, Canada</span></p>
                    <p class="contact">New York |<span class="contact"> 32 W 131st street, New York, NY, 10037, USA</span></p>                    
                    <div class="clearfix"></div>
                </div>
                <div class="col_2">
                    <h4 class="contact">Nous contacter par email</h4>
                    <p class="contact"><a href="mailto:hello@healthfactory.io">hello@healthfactory.io</a></p>
                    <div class="clearfix"></div>

                    <h4 class="contact">Suivez-nous et prenez part à l'innovation !</h4>
                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/HealthFactoryIO/" class="icon icon-facebook" target="_blank"></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/_healthfactory" class="icon icon-twitter" target="_blank"></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC3cp1CMc4tzNMuBaLvJOitw" class="icon icon-youtube" target="_blank"></a>
                        </li>
                        <li>
                            <a href="http://lnked.in/healthfactory" class="icon icon-linkedin" target="_blank"></a>
                        </li>
                    </ul>
                    <br><br>
                    <h4 class="contact">Avec le soutien de la French Tech MEDTECH / BIOTECH</h4>
                    <a href="http://www.lafrenchtech-alsace.eu/" target="_blank"><img src="/images/french-tech-medtech.png" style="height: 200px;"></a>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>

</div>
{% endblock %}