{% set class = 'home' %} 
{% extends '_layouts/base.njk' %} 
{% block content %} 

<div id="main" class="page-layout" data-page="Home">

    {% include '_modules/header-menu.njk' %} 

    <section class="section-slideshow slideshow screen-height">

        {% include '_modules/lang-menu.njk' %} 

        <div class="logo_slider">
            <div class="logo_img"></div>
            <div class="logo_txt">go beyond ideas</div>
        </div>

        <div class="mh mhl mh1"><span class="scrollto shuffle" data-target="concept">{{ 'Innover ou mourir' | i18n('innovate-or-die') }}</span></div>
        <div class="mh mhl mh2"><span class="scrollto shuffle" data-target="innovation">{{ 'Expertise' | i18n() }}</span></div>
        <div class="mh mhl mh3"><span class="scrollto shuffle" data-target="metho">{{ 'Process' | i18n() }}</span></div>
        <div class="mh mhr mh4"><span class="scrollto shuffle" data-target="offre">{{ 'L\'offre INSIDERS' | i18n() }}</span></div>
        <div class="mh mhr mh5"><span class="scrollto shuffle" data-target="equipe">{{ 'L\'équipe' | i18n('team') }}</span></div>
        <div class="mh mhr mh6"><span class="scrollto shuffle" data-target="contact">Contact</span></div>

        <div class="scroller">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>

        <div class="slideshow-inner">
            <div class="slides">
                <div class="slide is-active">
                    <div class="slide-content">
                        <div class="center-v-c">
                            <div class="center-v animate-txt">
                                <div class="title">{{ 'INNOVER OU MOURIR' | i18n('innovate-or-die') }}</div>
                                <div class="text">
                                    <p>{{'innovate-or-die-content' | i18n('innovate-or-die-content')}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-container screen-height"> <img src="/images/slider_1.jpg" data-src="/images/slider_2.jpg" alt="" width="1920" height="1080" class="image queue-loading as-background"
                            style="display: none;"></div>
                </div>
                <div class="slide">
                    <div class="slide-content">
                        <div class="center-v-c">
                            <div class="center-v animate-txt">
                                <div class="title">{{ 'INVENTONS NOTRE FUTUR' | i18n('invent-future-title') }}</div>
                                <div class="text">
                                    <p>{{ "Personne ne peut prédire l’avenir, qui a prévu Google, qui a prévu Facebook ? ... personne. Anticiper le futur c’est l’inventer, Health Factory vous aide à vous poser les questions fondamentales : quel est le potentiel de mon entreprise aujourd'hui et vers quoi je veux l’emmener demain. Ce chemin est pavé d’opportunités de croissance pour votre entreprise que Health Factory vous aide à identifier et à exploiter en collaboration avec les acteurs de la santé et du numérique." | i18n('invent-future-content') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-container screen-height"> <img src="/images/slider_3.jpg" data-src="/images/slider_3.jpg" alt="" width="1920" height="1080" class="image queue-loading as-background"
                            style="display: none;"></div>
                </div>
                <div class="slide">
                    <div class="slide-content">
                        <div class="center-v-c">
                            <div class="center-v animate-txt">
                                <div class="title">{{ 'ANIMER L\'INNOVATION' | i18n('animate-innovation-title') }}</div>
                                <div class="text">
                                    <p>{{ "Des évènements majeurs pour animer votre stratégie d'innovation au quotidien sur l'année,
                                        collaborer entre acteurs de la santé et du numérique et fabriquer des innovations qui vont transformer la vie des patients et la santé." | i18n('animate-innovation-content') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-container screen-height"> <img src="/images/slider_2.jpg" data-src="/images/slider_1.jpg" alt="" width="1920" height="1080" class="image queue-loading as-background"
                            style="display: none;"></div>
                </div>

            </div>
            <div class="pages">
                <div class="page is-active"><span class="icon">1</span></div>
                <div class="page"><span class="icon">2</span></div>
                <div class="page"><span class="icon">3</span></div>
            </div>
        </div>
    </section>

    <a name="concept"></a>
    <section id="concept" class="section">
        <div class="center_page">

            <div class="liste_articles">
                <article class="article_right">
                    <div class="col_2 col_2_v">
                        <div class="visuel">
                            <img src="/images/expertise-innovation-health.jpg" class="image queue-loading">
                        </div>
                    </div>
                    <div class="col_2 col_2_t">
                        <div class="box_content animate-v-c">
                            <div class="titre animate-v">
                                <h2>{{ "Innover ou mourrir" | i18n('innovate-or-die') }}</h2>
                                <h3>{{ 'ADOPTEZ UNE STRATÉGIE D\'INNOVATION' | i18n('adopt-innovation-strategy-title') }}</h3>
                            </div>
                            <div class="content animate-v">
                                <p>{{ "L'enjeu est d'aligner les intérêts des acteurs de la santé et du numérique pour trouver ensemble des solutions innovantes.
                                    Big pharma, industriels secteur santé, industriels des objets connectés, assureurs, hôpitaux, cliniques, établissements
                                    de soins, professionels de la santé, startups dans l'univers médical notre vocation
                                    est de vous aider à <b>trouver de nouveaux modèles économiques</b> et d'<b>optimiser vos modèles
                                    existants" | i18n('adopt-innovation-strategy-content') }}</b>.
                                </p>
                                <div class="action">
                                    <a href="{{ 'why-innovation-health.html' if not production else 'mailto:hello@healthfactory.io' }}" class="btn" title="">{{ 'En savoir plus' | i18n('know-more') }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </article>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>

    <a name="innovation"></a>
    <section id="innovation" class="section">
        <div class="center_page">
            <div class="titre">
                <h2>Expertise</h2>
                <h3>{{ "les 3 pilliers de l'innovation" | i18n('expertise-title') }}</h3>
            </div>
            <div class="content">
                <div class="col_3">
                    <div class="box_col box_innovation animate-v-c">
                        <div class="visuel visuel_svg visuel_brain animate-v"></div>
                        <h4 class="animate-v">{{ 'Expérience<br>immersive' | i18n('immersive-experience-title') }}</h4>
                        </h4>
                        <p class="animate-v">{{ "évènements et voyages apprenants pour <u>acculturer</u> acteurs de la santé au numérique et permettant aux acteurs
                            du numérique de comprendre les enjeux de la santé<br><br>" | i18n('immersive-experience-content') }}</p>
                        {% if not production %}
                        <div class="action">
                            <a href="experience-immersive.html" class="btn" title="">{{ 'En savoir plus' | i18n('know-more') }}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col_3 animate-v">
                    <div class="box_col box_innovation animate-v-c">
                        <div class="visuel visuel_svg visuel_hearth animate-v"></div>
                        <h4 class="animate-v">{{ 'Expertise santé<br>& numérique' | i18n('health-digital-expertise-title') }}</h4>
                        <p class="animate-v">{{ "offre de services pour réaliser et accompagner des projets innovants en santé avec les meilleurs experts
                            du domaine de la santé et du numérique sur le plan <u>technique</u>, <u>légal</u>, <u>médical</u>, <u>entrepreneurial</u> et
                            <u>design</u>" | i18n('health-digital-expertise-content') }}</p>
                        {% if not production %}
                        <div class="action">
                            <a href="expertise-health-digital.html" class="btn" title="">{{ 'En savoir plus' | i18n('know-more') }}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col_3 animate-v">
                    <div class="box_col box_innovation animate-v-c">
                        <div class="visuel visuel_svg visuel_sector animate-v"></div>
                        <h4 class="animate-v">{{ 'Expérimentation<br>sur le terrain' | i18n('experiment-on-the-field-title') }}</h4>
                        <p class="animate-v">{{ "plateforme physique (unité de soins, officine, cabinet, patients, …) et numérique (jeux de données, services,
                            API…) permettant de <u>tester et valider des innovations en réel</u> en partenariat avec les acteurs de
                            la santé" | i18n('experiment-on-the-field-content') }}</p>
                        {% if not production %}
                        <div class="action">
                            <a href="platform-experimentation.html" class="btn" title="">{{ 'En savoir plus' | i18n('know-more') }}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>

    <a name="metho"></a>
    {% include '_modules/schema-methodology.njk' %}

    <a name="offre"></a>
    <section id="offre" class="section">
        <div class="center_page">
            <div class="titre">
                <h2>{{ "Pour vous" | i18n() }}</h2>
                <h3>{{ "L'offre «INSIDERS»<br>est animé par des évènements" | i18n('insiders-offer-title') }}</h3>
            </div>

            <div class="visuel_offre_mobile mobile">
                <img src="/images/timeline-hf.png">
            </div>
            <div class="content content_scroll desktop">

                <div class="content_offres">

                    <div class="line line_l_1 line_l" data-delta="0" data-delta-end="0" data-first="1" data-end="2.5">
                        <div class="label">
                            <span>{{ "Ateliers" | i18n() }}</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_l_2 line_l" data-delta="50" data-delta-end="0" data-first="1.5" data-end="3">
                        <div class="label">
                            <span>{{ "Conférences" | i18n() }}</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_l_3 line_l" data-delta="100" data-delta-end="50" data-first="2" data-end="3.5">
                        <div class="label">
                            <span>{{ "Immersion" | i18n() }}</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_l_4 line_l" data-delta="150" data-delta-end="0" data-first="2.5" data-end="3.5">
                        <div class="label">
                            <span>{{ "Hackathon" | i18n() }}</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_l_5 line_l" data-delta="200" data-delta-end="50" data-first="3.5" data-end="7">
                        <div class="label">
                            <span>{{ "Expérimentation" | i18n() }}</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_l_6 line_l" data-delta="250" data-delta-end="0" data-first="5.24" data-end="7">
                        <div class="label">
                            <span>{{ "Excubation" | i18n() }}</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_l_7 line_l" data-delta="300" data-delta-end="0" data-first="7" data-end="8">
                        <div class="label">
                            <span>{{ "Transformation" | i18n() }}</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_l_8 line_l" data-delta="200" data-delta-end="20" data-first="3.5" data-end="4.5" style="z-index: 0;">
                        <div class="label">
                            <span style="text-align: right;">HACKING<br>HEALTH<br>CAMP</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>

                    <div class="line line_r_1 line_r" data-delta="0" data-delta-end="0" data-first="1.2" data-end="4">
                        <div class="label">
                            <span>Mentoring</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_r_2 line_r" data-delta="50" data-delta-end="0" data-first="2.8" data-end="7.2">
                        <div class="label">
                            <span>Coaching</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_r_3 line_r" data-delta="100" data-delta-end="0" data-first="4" data-end="8">
                        <div class="label">
                            <span>Marketing</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>
                    <div class="line line_r_4 line_r" data-delta="0" data-delta-end="0" data-first="1.2" data-end="7.7" style="z-index: 0;">
                        <div class="label">
                            <span>{{ "DÉFIS SANTÉ<br>NUMÉRIQUE" | i18n() }}</span>
                            <div class="bulle"></div>
                            <div class="bulle_line"></div>
                        </div>
                    </div>

                    <div class="liste_offres">

                        <div id="box_1" class="box_offre_c">
                            <div class="box_offre">{{ "Enjeux" | i18n() }}</div>
                        </div>

                        <div id="box_2" class="box_offre_c">

                            <div class="box_offre">{{ "Opportunités" | i18n() }}</div>
                        </div>

                        <div id="box_3" class="box_offre_c">
                            <div class="box_offre">{{ "Idéations" | i18n() }}</div>
                        </div>

                        <div id="box_4" class="box_offre_c">
                            <div class="box_offre">{{ "Prototypage" | i18n() }}</div>
                        </div>

                        <div id="box_5" class="box_offre_c">
                            <div class="box_offre">{{ "Tests" | i18n() }}</div>
                        </div>

                        <div id="box_6" class="box_offre_c">
                            <div class="box_offre">{{ "Validation" | i18n() }}</div>
                        </div>

                        <div id="box_7" class="box_offre_c">
                            <div class="box_offre">{{ "Commercialisation" | i18n() }}</div>
                        </div>

                        <div id="box_8" class="box_offre_c">
                            <div class="box_offre box_offre_green">{{ "Exécution" | i18n() }}</div>
                        </div>
                    </div>
                </div>

                {% if production %}
                <div class="action" style="text-align: center; margin-top: 50px;">
                    <a href="services-innovation-health.html" class="btn">services</a>
                    <a href="animate-innovation-health.html" class="btn">events</a>
                </div>
                {% endif %}
            </div>
    </section>

    {% include '_modules/customers.njk' %}

    <section id="startups" class="section">
        <div class="center_page">
            <div class="titre">
                <h3>STARTUPS</h3>
            </div>
            <div class="content liste_articles">
                {% from '_modules/article.njk' import article %}
                {{ article('off the charts', 'offthecharts-description', 'offthecharts.jpg', 'coordination des soins', 'site web', 'http://offthecharts.im') }}
                <div class="clearfix"></div>
            </div>
        </div>
    </section>

    <section id="paralax" class="section-paralax">
        <div class="center_page">
            <div class="section-paralax-c animate-v-c">
                <div class="paralax-background animate-v">
                    <div class="image-container"><img src="/images/paralaxe_2.jpg" data-src="/images/paralaxe_2.jpg" alt="" width="1920" height="800"
                            class="image queue-loading as-background" style="display: none;">
                    </div>
                </div>
                <div class="paralax-content animate-v">
                    <div class="center-v-c">
                        <div class="center-v">
                            <div class="titre">
                                <h2>{{ citation | i18n('citation')}}</h2>
                                <h4>Albert Einstein</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <a name="equipe"></a>
   {% include '_modules/team.njk' %}

    <section id="contact_map" class="section">
        <!--<div id="map"></div>-->
    </section>

    <a name="contact"></a>
    <section id="contact" class="section">
        <div class="center_page">
            <div class="titre">
                <h2>Contact</h2>
                <h3></h3>
            </div>
            <div class="content">
                <div class="col_2">
                    <h4 class="contact">{{ "Où sommes-nous ?" | i18n() }}</h4>
                    <p class="contact">Strasbourg |<span class="contact"> PH8, 8 place de l'hopital, 67000 Strasbourg, France</span></p>
                    <p class="contact">Montréal |<span class="contact"> A-1514 AVE Docteur-Penfield, Montreal, Quebec, H3G 1B9, Canada</span></p>
                    <p class="contact">New York |<span class="contact"> 32 W 131st street, New York, NY, 10037, USA</span></p>                    
                    <div class="clearfix"></div>
                </div>
                <div class="col_2">
                    <h4 class="contact">{{ "Nous contacter par email" | i18n() }}</h4>
                    <p class="contact"><a href="mailto:hello@healthfactory.io">hello@healthfactory.io</a></p>
                    <div class="clearfix"></div>

                    <h4 class="contact">{{ "Suivez-nous et prenez part à l'innovation !" | i18n() }}</h4>
                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/HealthFactoryIO/" class="icon icon-facebook" target="_blank"></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/_healthfactory" class="icon icon-twitter" target="_blank"></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC3cp1CMc4tzNMuBaLvJOitw" class="icon icon-youtube" target="_blank"></a>
                        </li>
                        <li>
                            <a href="http://lnked.in/healthfactory" class="icon icon-linkedin" target="_blank"></a>
                        </li>
                    </ul>
                    <br><br>
                    <h4 class="contact">{{ "Avec le soutien de la French Tech" | i18n() }} MEDTECH / BIOTECH</h4>
                    <a href="http://www.lafrenchtech.com/" target="_blank"><img src="/images/french-tech-medtech.png" style="height: 100px;"></a>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>

</div>
{% endblock %}