{% set class = 'page' %} 
{% extends '_layouts/base.njk' %} 
{% block content %} 

<div id="main" class="page-layout" data-page="page">

    {% include '_modules/header-menu.njk' %}

    {% from '_modules/header-page.njk' import headerPage %}
    {{ headerPage('UNE MÉTHODOLOGIE<br>ITÉRATIVE ET COLLABORATIVE', 'paralaxe_2.jpg') }}

    {% include '_modules/schema-methodology.njk' %}

    {% from '_modules/article.njk' import articleGrid2 %} 
    {% from '_modules/article.njk' import article %} 

<section id="articles-grid" class="section section_grey">
    <div class="center_page">
        <div class="content animate-v-c">
            <div class="liste_articles_grid_2 animate-v-c">

                {{ articleGrid2('Recherche', 'recherche', 'methodology-search.jpg') }}

                {{ articleGrid2('Validation', 'validation', 'methodology-validation.jpg') }}

            </div>
        </div>
        <div class="content animate-v-c">
            <div class="liste_articles_grid_2 animate-v-c">

                {{ articleGrid2('Création', 'creation', 'methodology-creation.jpg') }}

                {{ articleGrid2('Execution', 'execution', 'methodology-execution.jpg') }}

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<section class="section">
    <div class="center_page">
        <div class="titre">
            <h3>{{ "Méthodologie" | i18n() }}</h3>
        </div>
        <div class="content animate-v-c">
            <div class="liste_articles">
                {{ article('Itération', 'iteration', 'methodology-iteration.jpg') }}

                {{ article('Objectif', 'objectif', 'methodology-product-market-fit.jpg', null, null, null, 'left') }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>

</div>
{% endblock %}