{% set class = 'page' %} 
{% extends '_layouts/base.njk' %} 
{% block content %} 

<div id="main" class="page-layout" data-page="page">

    {% include '_modules/header-menu.njk' %}

    {% from '_modules/header-page.njk' import headerPage %}
    {{ headerPage('UNE MÉTHODOLOGIE ITÉRATIVE ET COLLABORATIVE', 'paralaxe_2.jpg') }}

    {% include '_modules/schema-methodology.njk' %}

    <section id="articles" class="section">
        <div class="center_page">

            <div class="liste_articles">

                {% from '_modules/article.njk' import article %} 

                {{ article('RECHERCHE', 'recherche', 'visuel.jpg') }}

                {{ article('VALIDATION', 'validation', 'visuel.jpg', null, null, null, 'left') }}
                
                {{ article('CRÉATION', 'creation', 'visuel.jpg') }}

                {{ article('EXECUTION', 'execution', 'visuel.jpg', null, null, null, 'left') }}

            </div>

            <div class="clearfix"></div>
        </div>
    </section>

</div>
{% endblock %}