{% set class = 'page' %} 
{% extends '_layouts/base.njk' %} 
{% block content %} 

<div id="main" class="page-layout" data-page="page">

    {% include '_modules/header-menu.njk' %}

    {% from '_modules/header-page.njk' import headerPage %}
    {{ headerPage('UNE MÉTHODOLOGIE<br>ITÉRATIVE ET COLLABORATIVE', 'paralaxe_2.jpg') }}

    {% include '_modules/schema-methodology.njk' %}

    {% from '_modules/article.njk' import articleGrid2 %} 
    {% from '_modules/article.njk' import article %} 
<section id="articles-grid" class="section">
    <div class="center_page">
        <div class="content animate-v-c">
	        <div class="liste_articles_grid_2 animate-v-c">

                {{ articleGrid2('RECHERCHE', 'recherche', 'visuel.jpg') }}

                {{ articleGrid2('VALIDATION', 'validation', 'visuel.jpg') }}

	        </div>
	    </div>
        <div class="content animate-v-c">
	        <div class="liste_articles_grid_2 animate-v-c">

                {{ articleGrid2('CRÉATION', 'creation', 'visuel.jpg') }}

                {{ articleGrid2('EXECUTION', 'execution', 'visuel.jpg') }}

	        </div>
	    </div>
        <div class="clearfix"></div>
            <div class="liste_articles">
                {{ article('ITÉRATION', 'iteration', 'visuel.jpg') }}

                {{ article('OBJECTIF', 'objectif', 'visuel.jpg', null, null, null, 'left') }}
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

</div>
{% endblock %}