{% set class = 'page' %} 
{% extends '_layouts/base.njk' %} 
{% block content %} 
<div id="main" class="page-layout" data-page="page">

    {% include '_modules/header-menu.njk' %}

    {% from '_modules/header-page.njk' import headerPage %}
    {{ headerPage('EXPÉRIMENTER', 'paralaxe_2.jpg') }}

    <section id="pages" class="section section_{{color | default('grey')}}">
        <div class="center_page">
            {% from '_modules/page.njk' import page %}
            {{ page('plateforme d\'experimentation', null, 'plateforme-experimentation') }}
            <div class="clearfix"></div>
        </div>
    </section>

   {% from '_modules/round.njk' import round %}
    <section id="rounds" class="section">
    <div class="center_page">
        <div class="liste_rounds animate-v-c">
            {{ round('sur le terrain', 'experimentation-platform-action', 'experimentation-platform-action.jpg') }}
            {{ round('plateforme physique', 'experimentation-platform-physical', 'experimentation-platform-physical.png', null, null, null, 'left') }}
            {{ round('plateforme virtuelle', 'experimentation-platform-logical', 'experimentation-platform-digital.jpg') }}
        </div>
        <div class="clearfix"></div>
        </div>
    </section>

</div>
{% endblock %}